<th class="container">

  <table class="table table-dark">
  {{#each winnerArr}}

    <tr>
      <th>
        <strong>{{name}}</strong>
      </th>
      <th>
        <p>{{score}}</p>
      </th>
    </tr>

  {{/each}}
  </table>

</div>

{{!-- 
    <div class="row">
      <div class="col">
        <strong>{{name}}</strong>
      </div>
      <div class="col">
        <p>{{score}}</p>
      </div>
    </div> --}}